// Colors

$red: #cc0000;
$green: #00cc00;
$blue: #0000cc;

$white: #ffffff;
$black: #000000;

$brown: #4D3E21;
$butter: #FDF7E7;
$mustard: #EAC9A0;

// Colors by function

$active: $red;

// CSS for plugins

$nextgen-gallery: false;
$wp-page-numbers: true;
$breadcrumb-navxt: true;
$child-pages-shortcode: true;

// Bouron Neat settings

$disable-warnings: false !default;
$column: 		golden-ratio(1em, 3) !global;
$gutter: 		golden-ratio(1em, 1) !global;
$grid-columns: 	12 !global;
$max-width: 	em(990) !global;
$border-box-sizing: true !global;
$default-feature: min-width;
$default-layout-direction: LTR !global;
$visual-grid: false !global;
$visual-grid-color: #f00 !global;
$visual-grid-index: back !global;
$visual-grid-opacity: 0.4 !global;

// http://neat.bourbon.io/examples/
// http://thoughtbot.github.io/neat-docs/latest/
