/* Print */

@media print {
	
	// Color to B&W
	
	body {
		color: black;
		background: white;
		font: 12pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
	}
	
	// Hide navigation, and aside elements
	
	*[role="banner"],
	*[role="navigation"],
	header,
	footer,
	nav,
	aside,
	.breadcrumbs,
	a.post-edit-link {
		display: none !important;
		display: none;
	}
	
	// Page margin settings
	
	@page {
		margin: 2cm 1.5cm;
	}
	
	// Page breaks before/after headings
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
	}
	
	h1 {
		page-break-before: always;
	}
	
	// Heading font sizes
	
	h1 {
		font-size: 22pt;
	}
	
	h2 {
		font-size: 18pt;
	}
	
	h3 {
		font-size: 16pt;
	}
	
	h4,
	h5,
	h6 {
		font-size: 14pt;
	}
	
	// Show link href
	
	a:after {
		content: " [" attr(href) "] ";
	}
	
	// Link style
	
	a:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: underline; 
		color: black;
	}
	
	a:after {
		text-decoration: none;
	}
	
	// Maximalize image sizes, do waste less tint
	
	img {
		max-width: 500px;
		height: auto;
		opacity: 0.9;
	}
}
