/* Aside */

aside {
	section {
		border: 2px solid darken($butter, 5%);
		padding: 1em;
		background-color: darken($butter, 1%);
		@include border-radius(8px);
		
		h2 {
			margin-bottom: 18px;
			font: {
				weight: normal;
				size: 18px;
			}
		}
		
		ol {
			li {
				&:nth-child(1):before {
					@include icon($fa-var-mobile);
					@include fw;
					display: inline-block;
					margin-right: 0.5em;
				}
				
				&:nth-child(2):before {
					@include icon($fa-var-phone);
					@include fw;
					display: inline-block;
					margin-right: 0.5em;
				}
			}
		}
	}
	
	section + section {
		margin-top: 15px;
	}
}
