/*Base*/

body,
html {
	@include reset;
}

body {
	min-width: 319px;
	background: $butter url('../img/bg.png') center 275px no-repeat;
	
	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 5;
		left: 0;
		top: 140px;
		
		width: 100%;
		height: 120px;
		
		background-color: $mustard;
		
		border: {
			width: 5px 0 15px 0;
			style: solid;
			color: $brown;
		}
	}
}

.middle {
	position: relative;
	z-index: 10;
	margin: {
		top: 30px;
		bottom: 30px;
	}
	min-height: 666px * 1.1;
	background-color: $white;
	@include border-radius(15px);
	@include shadow(0, 0, 20px, 0, rgba($black, 0.85));
	
	@media all and (max-width: 700px) {
		margin: {
			top: 8px;
			bottom: 8px;
		}
	}
}
