footer {
	$base-spacing: 1.5em !default;
	$base-accent-color: $brown !default;
	$medium-screen: em(640) !default;
	$large-screen: em(860) !default;
	$footer-background: #040406;
	$footer-color: white;
	$footer-link-color: transparentize($footer-color, .6);
	$footer-disclaimer-color: transparentize($footer-color, .6);

	background: $footer-background url(../img/footer.jpg) right bottom no-repeat;
	padding: $base-spacing;
	width: 100%;
	display: inline-block;
	position: relative;
	//opacity: 0.95;
	@include border-radius(0 0 15px 15px);

	nav#footer_menu {
		@include reset(list_light);
		@include comforta(700, 14px);
	
		ul {
			@include clearfix;
			margin-bottom: 30px;
			width: 60%;
		}
	
		ul li {
			margin-bottom: 5px;
			//text-transform: uppercase;
		}
	
		a {
			display: block;
			padding: 3px 0;
			color: $footer-color;
			@include single-transition(color);
		
			&:after {
				display: inline-block;
				margin-left: 4px;
				color: transparent;
				@include icon($fa-var-angle-double-right);
				@include single-transition(all);
			}
		
			&:hover {
				color: $active;
			
				&:after {
					margin-left: 7px;
					color: $active;
				}
			}
		}
	}

	nav#footer_social_menu {
		$icon-size: 80px;
		$icon-space: 14px;

		@include reset(list);
		position: absolute;
		right: $base-spacing;
		bottom: 80px;
	
		a {
			position: relative;
			display: block;
			width: $icon-size + $icon-space;
			height: $icon-size;
			overflow: hidden;
			white-space: nowrap;
			color: $footer-color;
			opacity: .8;
		
			&:after {
				position: absolute;
				left: 0;
				top: 0;
				width: $icon-size  + $icon-space;
				height: $icon-size;
				background-color: $footer-background;
				text-align: right;
				line-height: $icon-size;
				font-size: $icon-size;
				color: darken($white, 35%);
				@include transition(color 0.2s linear);
			}
		
			
		}
	
		.menu-item-215 {
			a:after {
				@include icon($fa-var-facebook-square);
			}
			
			a:hover:after {
				color: $facebook2;
			}
		}
		
		.menu-item-216 {
			a:after {
				@include icon($fa-var-twitter-square);
			}
			
			a:hover:after {
				color: $twitter;
			}
		}
		
		.menu-item-217 {
			a:after {
				@include icon($fa-var-linkedin-square);
			}
			
			a:hover:after {
				color: $linkedin;
			}
		}
		
		.menu-item-218 {
			a:after {
				@include icon($fa-var-youtube-square);
			}
			
			a:hover:after {
				color: $youtube;
			}
		}
		
		.menu-item-219 {
			a:after {
				@include icon($fa-var-pinterest-square);
			}
			
			a:hover:after {
				color: $pinterest;
			}
		}
	}

	.search-box {
		position: absolute;
		right: $base-spacing;
		top: 30px;
	
		label {
			display: none;
		}
		
		input[type="text"] {
			border: none;
			padding: 5px 8px;
			height: 21px;
			background-color: darken($white, 10%);
			line-height: 21px;
			@include border-radius(5px);
		}
	
		input[type="submit"] {
			@include button($active);
		}
	}
	
	#copy_text {
		font-size: 12px;
		text-align: center;
		color: $footer-color;
	}
}
