/* Header */

$menu-brakepoint: 760px;

header {
	position: relative;
	z-index: 666;
	border-bottom: 8px solid $brown;
	//border-top: 3px solid $butter;
	min-height: 175px;
	background: $white url(../img/header.jpg) 550px top no-repeat;
	
	@include border-radius(15px 15px 0 0);
	
	h1 {
		@include text_hide;
		@include reset;
		background: url(../img/logo.png) 0 0 no-repeat;
		position: absolute;
		left: 5px;
		top: 15px;
		z-index: 100;
		width: 100px;
		height: 100px;
		/*@include transition (all .333s ease-in-out);
		
		&:hover {
			@include rotate(15);
		}*/
	}
	
	h2,
	h3 {
		@include reset;
		position: absolute;
		left: 120px;
	}
	
	h2 {
		top: 48px;
		//text-transform: uppercase;
		@include comforta($weight: 700, $size: 36px);
		color: #B59B58;
		
		@media all and (max-width: 500px) {
			left: 110px;
			top: 52px;
			font-size: 30px !important;
		}
		
		@media all and (max-width: 400px) {
			left: 110px;
			top: 52px;
			font-size: 26px !important;
		}
	}
	
	h3 {
		top: 100px;
		font: {
			size: 18px;
		}
	}
	
	@media all and (max-width: $menu-brakepoint) {
		background: $white url(../img/header.jpg) 300px top no-repeat;
		
		h2 {
			top: 48px;
			//text-transform: uppercase;
			@include comforta($weight: 700, $size: 36px);
			color: #B59B58;
		}
	}
}

nav#main_menu {
	
	
	@media all and (max-width: $menu-brakepoint) {
		@include reset(list-light);
		position: relative;
		margin-top: 125px;
		padding-top: 36px;
		
		.menu_trigger {
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 32px;
			font: {
				size: 16.5px;
				weight: bold;
			}
			line-height: 38px;
			@include transition(color 0.2s linear);
			
			&:after {
				@include icon($fa-var-reorder);
				display: inline-block;
				margin-left: 0.5em;
			}
			
			&:hover,
			body.open & {
				color: $active;
			}
			
			body.open & {
				&:after {
					@include icon($fa-var-times);
				}
			}
		}
		
		ul {
			display: none;
			@include reset;
		}
		
		body.open & ul {
			display: block;
		}
		
		ul li {
			display: block;
			border: {
				width: 2px 0 0 0;
				color: $brown;
				style: solid;
			}
			padding-left: 32px;
			line-height: 40px;
			text: {
				//transform: uppercase;
				align: left;
			}
			@include comforta($weight: 900, $size: 14px);
			background-color: $butter;
			
			a {
				display: block;
				color: $black;
				@include transition(color 0.2s linear);
			}
		
			&:hover > a {
				color: $active;
			}
		}
	
		ul li ul {
			display: none;
		}
	}
	
	@media all and (min-width: $menu-brakepoint + 1) {
		@include reset(list-light);
		position: absolute;
		left: 18px;
		bottom: 0;
		z-index: 50;
		height: 40px;
		width: 100%;
		float: none;
		clear: both;
	
		.menu_trigger {
			display: none;
		}
	
		a {
			color: $black;
			@include single-transition(color, .222s);
		}
		
		.current-menu-item a {
			color: darken($mustard, 20%);
		}
		
		ul {
			text-align: left;
			@include reset;
		}
	
		ul li {
			display: inline-block;
			position: relative;
			padding: 0 11px 0 10px;
			line-height: 40px;
			//text-transform: uppercase;
			@include comforta($weight: 700, $size: 15px);
			text-shadow: 0 0 10px $white;
		
			&:hover > a {
				color: darken($mustard, 15%);
			}
		
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -6px;
				width: 1px;
				height: 12px;
				background-color: lighten($black, 80%);
			}
		
			&.first-menu-item {
				padding-left: 1px;
			}
		
			&:last-child:after {
				display: none;
			}
		}
	
		ul li ul {
			display: none;
		}
	}
}

nav#social_menu {
	$icon-size: 32px;
	$icon-space: 12px;
	display: none !important;

	@include reset(list);
	position: absolute;
	right: 0;
	bottom: 82px;
	
	a {
		position: relative;
		display: block;
		width: $icon-size + $icon-space;
		height: $icon-size;
		overflow: hidden;
		white-space: nowrap;
		color: $white;
		opacity: .85;
		
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			width: $icon-size  + $icon-space;
			height: $icon-size;
			background-color: $white;
			text-align: right;
			line-height: $icon-size;
			font-size: $icon-size;
		}
	}
	
	#menu-item-18362 a:after {
		@include icon($fa-var-facebook-square);
		color: #425F9C;
	}
	
	#menu-item-18364 a:after {
		@include icon($fa-var-youtube);
		color: #C2191E;
	}
	
	#menu-item-18363 a:after {
		@include icon($fa-var-envelope);
		color: lighten($black, 30%);
	}
}
