/* Layout */

div.middle {
	@include outer-container;
	
	header {
		@include span-columns(12);
	}
	
	main {
		@include span-columns(8);
		
		padding: 1.5em;
		
		&.full {
			@include span-columns(12);
		}
		
		.half {
			@include span-columns(6);
		}
	}
	
	aside {
		@include span-columns(4);
		@include omega();
		
		padding: 1.5em;
	}
	
	footer {
		@include span-columns(12);
	}
}

@media all and (max-width: 700px) {
	div.middle {
		main,
		main .half,
		aside {
			@include span-columns(12);
		}
	}
}

@media all and (max-width: 900px) and (min-width: 701px) {
	div.middle {
	
		main {
			@include span-columns(7);
		}
	
		aside {
			@include span-columns(5);
			@include omega();
		}
	}
}

@media all and (max-width: 1110px) {
	div.middle {
		max-width: 98%;
	}
}
