/* Breadcrumb */

$breadcrumb-switch-breadcrumb-navxt: $breadcrumb-navxt;

$breadcrumb-spaces: 10px;

@if $breadcrumb-switch-breadcrumb-navxt == true {
	.breadcrumbs {
		margin-bottom: 10px;
		line-height: 34px;
		@include comforta(400, 10px, 1px);
	
		a {
			color: lighten($black, 25%);
			@include single-transition(color);
		
			&:hover {
				color: $active;
			}
		}
	
		& > span {
			display: inline-block;
			padding: {
				top: 0;
				right: $breadcrumb-spaces / 2;
				bottom: 0;
				left: $breadcrumb-spaces / 2;
			}
			
			&:first-child {
				padding-left: 2px;
			}
		}
		
		span + span {
			&:before {
				@include icon($fa-var-angle-right);
				display: inline-block;
				margin-right: $breadcrumb-spaces;
			}
		}
	}
}
