/* Child pages shortcode plugin */

// https://wordpress.org/plugins/child-pages-shortcode/
// http://wpist.me/wp/child-pages-shortcode/

$switch-child-pages-shortcode: $child-pages-shortcode;

$child-pages-shortcode-breakpoint-small: 390px;
$child-pages-shortcode-breakpoint-medium: 650px;
$child-pages-shortcode-breakpoint-large: 900px;

@if $switch-child-pages-shortcode == true {
	.post_excerpt {
		display: none !important;
	}
	
	div.child_pages {
		margin: {
			top: 15px;
			bottom: 15px;
		}
		
		.child_page {
			width: 100% !important;
			margin-bottom: 15px;
			
			@media all and (min-width: $child-pages-shortcode-breakpoint-small) and (max-width: $child-pages-shortcode-breakpoint-medium) {
				width: 47% !important;
				margin-right: 6%;
				
				&:nth-child(2n+0) {
					margin-right: 0 !important;
				}
			}
			
			@media all and (min-width: $child-pages-shortcode-breakpoint-medium + 1) {
				width: 23% !important;
				margin-right: 2.6666%;
				
				&:nth-child(4n+0) {
					margin-right: 0 !important;
				}
			}
			
			
		}
		
		.post_thumb {
			height: auto !important;
		}
		
		.child_page-container {
			margin: 0 !important;
			border: none !important;
			background: none transparent !important;
			border-radius: 0 !important;
			padding: 0 !important;
		}
		
		h4 {
			font-weight: bolder;
			margin-top: 0;
			font-size: 14px;
			line-height: 1.2em;
			text-align: center;
			
			a {
				color: inherit;
			}
		}
		
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
