/* Multimedia */

// Videos

iframe {
	width: 100% !important;
	
	@media all and (max-width: 600px) {
		height: 300px !important;
	}
	
	@media all and (max-width: 410px) {
		height: 240px !important;
	}
}
