/* Single */

.single {
	small.date {
		display: inline-block;
		margin-bottom: 12px;
		font-size: 12px;
		
		&:before {
			@include icon($fa-var-calendar);
			display: inline-block;
			margin-right: 0.5em;
			color: $brown;
			font-size: 0.85em;
		}
	}
}
